* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "B612 Mono", monospace;
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 36, 36, 1) 50%,
    rgba(51, 58, 255, 1) 50%
  );

  border: 0.5rem solid #fff;

  .header-part {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
  }

  .main-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .score {
      font-size: 1.6rem;
    }

    .squares {
      border: 0.5rem solid #fff;
      height: 18rem;
      width: 18rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 0.5rem;
      background-color: #fff;

      .square {
        font-size: 2.5rem;
        background-color: rgb(255, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: #23bb49;
      }
    }
  }

  .footer-part {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #result {
      margin-bottom: 2rem;
    }
  }
}
