* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "B612 Mono", monospace;
}

main {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    90deg,
    rgba(255, 36, 36, 1) 50%,
    rgba(51, 58, 255, 1) 50%
  );

  .header-part {
    font-size: 1.8rem;
    text-align: center;
    width: 100%;
    padding: 2rem 0;
  }

  .main-part {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    .score {
      font-size: 1.8rem;
    }

    .middle-part {
      padding: 2rem 0;

      .squares {
        border: 0.5rem solid #fff;
        height: 20rem;
        width: 20rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0.5rem;
        background-color: #fff;

        .square {
          font-size: 2.5rem;
          background-color: rgb(255, 255, 255);
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          width: 100%;
          background-color: #23bb49;
        }
      }
    }
  }

  .footer-part {
    padding: 2rem 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    #result {
      font-size: 1.9rem;
      text-align: center;
    }
  }
  .restart-part {
    padding: 2rem 0;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    button {
      text-decoration: none;
      border: none;
      background-color: inherit;
      color: #fff;
      font-family: "B612 Mono", monospace;
    }
  }
}

@media screen and (min-width: 479px) {
  html {
    font-size: 81.25%;
  }
}
@media screen and (min-width: 599px) {
  html {
    font-size: 93.75%;
  }
}
@media screen and (min-width: 799px) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 125%;
  }
}
